name: Generate PDFs

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  gen-pdfs:
    name: Generate PDFs
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Configure Actions cache for downloaded content
        uses: actions/cache@v5
        with:
          key: download-cache
          path: .local

      - name: Generate PDFs
        run: sh ci/generate-pdfs.sh

      - name: Upload artifact
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v5
        with:
          name: hymns
          path: hymns*.pdf
