name: Generate PDF

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  gen-pdf:
    name: Generate PDF
    runs-on: ubuntu-latest
    steps:

      - name: Check out repository
        uses: actions/checkout@v4

      - name: Configure Actions cache for downloaded content
        uses: actions/cache@v4
        with:
          key: download-cache
          path: .local

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          cache: pip
          python-version: '3.13'

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Generate PDF
        run: python hymns.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        with:
          name: hymns.pdf
          path: |
            hymns.pdf
            hymns-letter.pdf
