name: Publish the release package to PyPI

on:
  release:
    types:
      - published

jobs:
  publish:
    name: Publish the release package to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    environment:
      name: pypi-release
      url: https://pypi.org/p/hymns
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Build and publish the package
        run: sh ci/publish.sh
